.app-body{
    display: grid;
    grid-template-columns: 80% 10%;
    padding: 60px;
    gap: 30px;
}
.employee-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    
}

.accounts{
    position: fixed;
    width: 330px;
    height: 200px;
    padding: 10px;
    text-align: center;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 1000px) {
    .app-body{
        grid-template-columns: 1fr;
    }
    .employee-container{
        order: 1;
    }
}
@media only screen and (max-width: 650px){
    .employee-container{
        grid-template-columns: 1fr;
    }
}